<html>
  <head>
    <meta charset="utf-8" />
    <title>ShoppingList Sensei Web</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/public/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/public/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/public/favicon-16x16.png"
    />
    <link rel="manifest" href="/public/site.webmanifest" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <style>
      * { margin: 0; padding: 0; } *, *:before, *:after { box-sizing:
      border-box; } html, body {
        background-image: url('/public/shopping-trolley-with-little-snooze.jpg'); 
        background-size: cover;
        font-family: "Helvetica Neue", "Helvetica",
      "Arial", sans-serif; } div { padding: 1rem; } h1 { font-size: 48px;
      line-height: 56px; margin: 0; text-align: center; }
      table div {
      }
    </style>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <h1><a href="#">Ofertas de {{user.from.first_name}} {{user.from.last_name}} no ShoppingList Sensei do Telegram</a></h1>

      <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
          <thead>
            <tr>
              <th>Oferta</th>
              <th>Promoção</th>
              <th>Loja</th>
              <th>Data da busca</th>
              <th>Nome na lista</th>
              <th>Preço</th>
            </tr>
          </thead>
          <tbody>
            {{#each wishlist}}
              <tr>
                <td>{{{this.offer.html}}}</td>
                <td>{{this.offer.promoPrice}}</td>
                <td>{{this.offer.store}}</td>
                <td>{{dateFormat this.date format "MM-DD-YYYY HH:mm:ss"}}</td>

                <td>{{this.name}}       <a href="#">Ver histórico</a></td>
                <td>{{this.offer.normalPrice}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>